@model UniversityRegSystem.ViewModels.UpsertSectionVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UpsertSection";
}

<div class="mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            @if (Model.SectionDTO.Id == 0)
            {
                <h2>Add Section</h2>
            }
            else
            {
                <h2>Edit Section</h2>
            }
            <form class="mt-5" method="post" autocomplete="off">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.SectionDTO.Id)
                @Html.HiddenFor(m => m.CourseId)
                @Html.HiddenFor(m => m.DepartmentId)

                <div class="form-group">
                    @Html.LabelFor(m => m.SectionDTO.StartTime)
                    @Html.TextBoxFor(m => m.SectionDTO.StartTime, new
               {
                   @class = "form-control",
                   id = "StartTime"
               })
                    @Html.ValidationMessageFor(m => m.SectionDTO.StartTime, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SectionDTO.EndTime)
                    @Html.TextBoxFor(m => m.SectionDTO.EndTime, new
               {
                   @class = "form-control",
                   id = "EndTime"
               })
                    @Html.ValidationMessageFor(m => m.SectionDTO.EndTime, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SectionDTO.MaxNumberOfStudents)
                    @Html.TextBoxFor(m => m.SectionDTO.MaxNumberOfStudents
               , new
                    {
                        type = "number",
                        min = "1",
                        step = "1",
                        max = "40",
                   @class = "form-control",
               })


                    @Html.ValidationMessageFor(m => m.SectionDTO.MaxNumberOfStudents, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SectionDTO.Days)
                    @Html.DropDownListFor(m => m.SectionDTO.Days, Model.Days,
                   "-Choose Days-", new
                        {
                            @class = "form-control",
                        })

                    @Html.ValidationMessageFor(m => m.SectionDTO.Days, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SectionDTO.Teacher)
                    @Html.DropDownListFor(m => m.SectionDTO.TeacherId, Model.Teachers,
                   "-Choose Teacher-", new
                        {
                            @class = "form-control",
                        })

                    @Html.ValidationMessageFor(m => m.SectionDTO.TeacherId, "", new { @class = "text-danger" })
                </div>

                <div class="mt-5 mb-4">
                    <button class="btn btn-primary" style="width:100px;height:40px;" type="submit">
                        <span>Save</span>
                    </button>
                    @Html.ActionLink("Cancel", // <-- Link text
                   "Index", // <-- Action Method Name
                   new { departmentId = Model.DepartmentId, courseId = Model.CourseId }, // <-- Action payload
                   new { @class = "btn btn-danger", @style = "width:100px;height:40px;" } // <-- htmlArguments
                   )
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#StartTime").timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '8',
            maxTime: '6:00pm',
            startTime: '8:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        $("#EndTime").timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '8',
            maxTime: '6:00pm',
            startTime: '8:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

    </script>
}