@model UniversityRegSystem.ViewModels.StudentRegisterationTimesVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<br />
<br />
<h3>Student Registeration Times</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Registeration Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentRegisterationTimes)
        {
            <tr>
                <td>@item.RegisterationTime.StartTime - @item.RegisterationTime.EndTime</td>
            </tr>
        }
    </tbody>
</table>



<br />
<br />

<h3>All Registeration Times</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Registeration Time</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllRegisterationTimes)
        {
            <tr>
                <td>@item.StartTime - @item.EndTime </td>
                <td><button onclick="addRegisterationTime(@item.Id)">Select</button></td>
            </tr>
        }
    </tbody>
</table>



@section scripts {
    <script>
        function addRegisterationTime(id) {
            $.ajax({
                type: "POST",
                url: `/StudentRegisterationTime/AddRegisterationTime/?registerationId=${id}`,
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        window.location.reload();
                    } else {
                        toastr.error(data.message);
                    }
                }
            });
        }
    </script>
}


