@model UniversityRegSystem.ViewModels.UpsertStudentVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UpsertStudent";
}

<div class="mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            @if (string.IsNullOrEmpty(Model.Student.StudentId))
            {
                <h2>Add Student</h2>
            }
            else
            {
                <h2>Edit Student</h2>
            }
            <form class="mt-5" method="post">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.Student.StudentId)
                @Html.HiddenFor(m => m.SelectedField, new { id = "SelectedField" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Student.Name)
                    @Html.TextBoxFor(m => m.Student.Name, new
               {
                   @class = "form-control",
               })
                    @Html.ValidationMessageFor(m => m.Student.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Student.Email)
                    @Html.TextBoxFor(m => m.Student.Email, new
               {
                   @class = "form-control",
               })
                    @Html.ValidationMessageFor(m => m.Student.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Student.PhoneNumber)
                    @Html.TextBoxFor(m => m.Student.PhoneNumber, new
               {
                   @class = "form-control",
               })
                    @Html.ValidationMessageFor(m => m.Student.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                @if (string.IsNullOrEmpty(Model.Student.StudentId))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new
                   {
                       @class = "form-control",
                   })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new
                   {
                       @class = "form-control",
                   })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                }


                <div class="form-group">
                    @Html.Label("Department")
                    @Html.DropDownListFor(m => m.SelectedDepartment, Model.Departments,
                   "--Select Department--", new
                   {
                       @class = "form-control",
                       @onchange = "PopulateFields()",
                       id = "Department"
                   })
                </div>

                <div class="form-group">
                    @Html.Label("Field")
                    <div id="fieldsDiv">
                        @{
                            Html.RenderPartial("_FieldsSelectList", Model.Fields);
                        }
                    </div>
                    @Html.ValidationMessageFor(m => m.SelectedField, "", new { @class = "text-danger" })
                </div>

                <div class="mt-5 mb-4">
                    <button class="btn btn-primary" style="width:100px;height:40px;" type="submit">
                        <span>Save</span>
                    </button>
                    @Html.ActionLink("Cancel", // <-- Link text
                   "Index", // <-- Action Method Name
                   null, // <-- Action payload
                   new { @class = "btn btn-danger", @style = "width:100px;height:40px;" } // <-- htmlArguments
                   )
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function PopulateFields() {
            var department = $('#Department').val();
            $('#SelectedField').val(null);
            $.ajax({
                type: 'GET',
                cache: false,
                url: `/Student/PopulateFields/?depId=${department}`,
                success: function (response) {
                    $("#fieldsDiv").empty();
                    $("#fieldsDiv").html(response);
                }
            });
        }

        function FieldChangeHandler() {
            var field = $('#Fields').val();
            $('#SelectedField').val(field);
        }

    </script>

}