@model UniversityRegSystem.ViewModels.UpsertTeacherVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Upsert Teacher";
}

<div class="mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            @if (Model.TeacherDTO.Id == 0)
            {
                <h2>Add Teacher</h2>
            }
            else
            {
                <h2>Edit Teacher</h2>
            }
            <form class="mt-5" method="post">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.TeacherDTO.Id)

                <div class="form-group">
                    @Html.LabelFor(m => m.TeacherDTO.Name)
                    @Html.TextBoxFor(m => m.TeacherDTO.Name, new
               {
                   @class = "form-control",
               })
                    @Html.ValidationMessageFor(m => m.TeacherDTO.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.TeacherDTO.Email)
                    @Html.TextBoxFor(m => m.TeacherDTO.Email, new
               {
                   @class = "form-control",
               })
                    @Html.ValidationMessageFor(m => m.TeacherDTO.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.TeacherDTO.PhoneNumber)
                    @Html.TextBoxFor(m => m.TeacherDTO.PhoneNumber, new
               {
                   @class = "form-control",
               })
                    @Html.ValidationMessageFor(m => m.TeacherDTO.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.TeacherDTO.Department)
                    @Html.DropDownListFor(m => m.TeacherDTO.DepartmentId, Model.Departments,
                   "-Choose Department-", new
                        {
                            @class = "form-control",
                        })

                    @Html.ValidationMessageFor(m => m.TeacherDTO.DepartmentId, "", new { @class = "text-danger" })
                </div>

                <div class="mt-5 mb-4">
                    <button class="btn btn-primary" style="width:100px;height:40px;" type="submit">
                        <span>Save</span>
                    </button>
                    @Html.ActionLink("Cancel", // <-- Link text
                   "Index", // <-- Action Method Name
                   null, // <-- Action payload
                   new { @class = "btn btn-danger", @style = "width:100px;height:40px;" } // <-- htmlArguments
                   )
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}